*{
    margin:0px;
    padding: 0px;
}

.Header{
   margin-top: 100px;
   text-align: center;
   height: 110vh;
   background-size: cover;
   background-color: black;
}


p div {

margin-top:50px;

}

@media screen and (max-width:778px) {
    .Header{
        margin-top: 88px;
        height:50vh; 
    }

    p div {

    margin-top:50px;
        
    }

    .first{
        margin-top:100px;
    }
         
}